<section id="bidForm">
  <h1>Bid</h1>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Project</ng-template>
        <h3 class="selected-pill" *ngIf="!selectedProject.name">Please Select a Project</h3>
        <h3 class="selected-pill" *ngIf="selectedProject.name">Selected Project : {{selectedProject.name}}</h3>
        <mat-selection-list [multiple]="false" formControlName="firstCtrl" #projects
          (ngModelChange)="onProjectSelection($event)">
          <mat-list-option *ngFor="let project of projectsList" [value]="project">
            <span style="color: black;">{{project.name}}</span>
          </mat-list-option>
        </mat-selection-list>
        <div>
          <!-- <button mat-button matStepperNext>Next</button> -->
          <button class="example-width" mat-flat-button type="button" mat-button matStepperNext flex="15" color="accent"
            [disabled]="!selectedProject">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Contractor">
      <form [formGroup]="secondFormGroup">
        <h3 class="selected-pill" *ngIf="!selectedProject.name">Please Select a Contractor</h3>
        <h3 class="selected-pill" *ngIf="selectedProject.name">Selected Contractor : {{selectedContractor.name}}</h3>
        <mat-selection-list [multiple]="false" formControlName="secondCtrl" #contractors
          (ngModelChange)="onContractorSelection($event)">
          <mat-list-option *ngFor="let item of contractorsList" [value]="item">
            <span style="color: black;">{{item.name}}</span>
          </mat-list-option>
        </mat-selection-list>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button class="example-width" mat-flat-button type="button" mat-button matStepperNext flex="15" color="accent"
            [disabled]="!selectedContractor">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Bid</ng-template>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <mat-form-field class="example-full-width">
          <input id="name" type="text" name="name" [(ngModel)]="name" matInput placeholder="Name">
        </mat-form-field>
      </div>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="date1" #date1 (dateInput)="getDate($event)" />
        <mat-datepicker-toggle matSuffix [for]="date1"></mat-datepicker-toggle>
        <mat-datepicker #date1></mat-datepicker>
      </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>


  <!-- <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Project</ng-template>

        <mat-selection-list formControlName="firstCtrl" #projects (ngModelChange)="onProjectSelection($event)">
          <mat-list-option *ngFor="let project of projectNames" [value]="project">
            <span style="color: black;">{{project}}</span>
          </mat-list-option>
        </mat-selection-list>

        <div style="padding-left: 90%; padding-top: 30px;">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select Company</ng-template>

        <mat-selection-list formControlName="secondCtrl" #contractors (ngModelChange)="onCompanySelection($event)">
          <mat-list-option *ngFor="let company of companyNames" [value]="company">
            {{company}}
          </mat-list-option>
        </mat-selection-list>

        <div style="padding-left: 90%; padding-top: 30px;">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Create Bidding</ng-template>
      <p>
        <input mat-input placeholder="Name" [(ngModel)]="bidName">

      </p>
      <mat-card class="calendarCard">
        <mat-calendar [(selected)]="selectedDate"></mat-calendar>
      </mat-card>

      <div style="padding-left: 90%; padding-top: 30px;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="saveBidding()">Save</button>
      </div>
    </mat-step>
  </mat-stepper> -->
</section>