<div id="login-form-wrap">
  <div class="logo">
    <a href="javascript:void(0);">E-Bidding</a>
  </div>
  <!-- <div fxLayoutAlign="center">
    <img src="assets/image/env.jpg" class="loginImage">
  </div> -->
  <h2>Login</h2>
  <form id="login-form" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
    <mat-form-field class="example-width">
      <input matInput name="emailOrUser" [(ngModel)]="loginModel.emailOrUser" [placeholder]="'Email'"
        autocomplete="off" required maxlength="255" />
    </mat-form-field>
    <mat-form-field class="example-width">
      <input matInput type="password" name="password" [(ngModel)]="loginModel.password" [placeholder]="'Password'"
        required maxlength="32" />
    </mat-form-field>
    <button  class="example-width" mat-flat-button type="submit" flex="15" color="accent"
      [disabled]="!loginForm.form.valid || submitting">
      {{ "LogIn" }}
    </button>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="#" routerLink="/account/register">Create Company</a>
    <p>
  </div>
  <!--create-account-wrap-->
</div>