<!-- <div id="sign-in-widget">
</div> -->


<div id="login-form-wrap">
  <!-- <div class="logo">
    <a href="javascript:void(0);">E-Bidding</a>
  </div> -->

  <div fxLayoutAlign="center" class="loginImage">
    <img src="assets/image/env.png">
  </div>
  <hr>
  <div class="loginImage">
    <h2><b>Sign In</b></h2>
  </div>

  <form id="login-form" #loginForm="ngForm" (ngSubmit)="signINSubmit(loginForm)">
    <mat-form-field class="example-width">
      <input matInput name="emailOrUser" fill="standard" [(ngModel)]="loginModel.emailOrUser" [placeholder]="'Email'" autocomplete="off"
        required maxlength="255" />
    </mat-form-field>
    <mat-form-field class="example-width">
      <input matInput type="password" name="password" [(ngModel)]="loginModel.password" [placeholder]="'Password'"
        required maxlength="32" />
    </mat-form-field>
    <div class="button-margin">
      <button class="example-width" mat-flat-button type="submit" flex="15" color="accent"
        [disabled]="!loginForm.form.valid || submitting">
        {{ "LogIn" }}
      </button>
    </div>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="#" routerLink="/account/register">Create Company</a>
    <p>
  </div>
</div>