  <div fxLayoutAlign="center center" fxFlexFill class="main-div" >
  <mat-card fxFlex="45">
    <!--<mat-toolbar color="primary">Login Page</mat-toolbar> -->
    <div fxLayoutAlign="center">
       <img src="assets/image/env.jpg" class = "loginImage">
      </div>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="password">
      </mat-form-field>
      <button mat-raised-button color="primary"  type="submit" routerLink="/main" > login</button>
    </form>
  </mat-card>
</div>
