table {
  width: 100%;
}

#projectForm{
  margin: 25px!important
}

mat-card{
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
}


/* .mat-header-row {
  color: white !important;
} */

th {
  color: white !important;
}

.mat-header{
  margin-bottom: 10px;
  display: flex;
  justify-content: right;
}

