<app-header></app-header>
<section id="biddingForm">
    <div class="container">
        <div class="container-fluid">
            <h1>{{bidModule.name}}</h1>
            <div class="col-md-12">
                <mat-card>
                    <div *ngIf="message" class="display-message">{{message}}</div>
                    <div class="display-flex">
                        <div *ngIf="lastBid" class="last-bid theme-color">Last Bid Amount: {{lastBid}}</div>
                        <div *ngIf="today < bidDateMili" class="start-bid theme-color">Bidding not started yet , will start at: {{bidStartingDate}}</div>
                    </div>

                    <form #bidding="ngForm" (ngSubmit)="submit(bidding)"
                        style="margin: 20px; display: flex; justify-content: center;">
                        <div class="row">
                            <mat-card-content>
                                <mat-form-field class="example-full-width">
                                    <input id="amount" type="number" name="amount" [(ngModel)]="amount" matInput
                                        placeholder="Amount" required>
                                </mat-form-field>
                            </mat-card-content>
                        </div>

                        <div class="row">
                            <mat-card-actions class="form-field-actions">
                                <button class="example-width" mat-flat-button type="submit" color="accent">
                                    {{ "Submit" }}
                                </button>
                            </mat-card-actions>
                        </div>

                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>