<section>
    <div id="login-form-wrap">
        <div class="logo">
            <a href="javascript:void(0);">E-Bidding</a>
        </div>
        <!-- <div fxLayoutAlign="center">
          <img src="assets/image/env.jpg" class="loginImage">
        </div> -->
        <h2>Register</h2>
        <form id="login-form" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
            <mat-form-field class="example-width">
                <input matInput type="text" name="firsName" [(ngModel)]="registerModule.firsName"
                    [placeholder]="'First Name'" autocomplete="off" required maxlength="255" />
            </mat-form-field>
            <mat-form-field class="example-width">
                <input matInput type="text" name="lastName" [(ngModel)]="registerModule.lastName"
                    [placeholder]="'Last Name'" required maxlength="32" />
            </mat-form-field>
            <mat-form-field class="example-width">
                <input matInput type="email" name="email" [(ngModel)]="registerModule.email" [placeholder]="'Email'"
                    autocomplete="off" required maxlength="255" />
            </mat-form-field>
            <mat-form-field class="example-width">
                <ngx-flag-picker [selectedCountryCode]="selectedCountryCode" [countryCodes]="countryCodes"
                    (changedCountryCode)="changeSelectedCountryCode($event)">
                </ngx-flag-picker>
                <input matInput type="number" name="phone" [(ngModel)]="registerModule.phone" [placeholder]="'Phone'"
                    required maxlength="32" />
            </mat-form-field>
            <mat-form-field class="example-width">
                <input matInput type="password" name="password" [(ngModel)]="registerModule.password"
                    [placeholder]="'password'" required maxlength="32" />
            </mat-form-field>
            <button class="example-width" mat-flat-button type="submit" flex="15" color="accent"
                [disabled]="!loginForm.form.valid || submitting">
                {{ "Register" }}
            </button>
        </form>
        <div id="create-account-wrap">
            <p>Already have Username? <a href="#" routerLink="/register">Forget Password</a>
            <p>
            <p>or <a href="#" routerLink="/login">Login</a>
            <p>
        </div>
        <!--create-account-wrap-->
    </div>
</section>